@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "font-family: 'Quicksand', sans-serif";
  display: flex;
  min-width: 90vw;
  min-height: 90vh;
  padding: 3em;
  color: #0D0D0D;
  background-color: #F2F2F2;
}

h1 {
  font-family: "font-family: 'Righteous', cursive";
  font-weight: 800;
  margin: 1em 0;
  font-size: 1.5em;
  margin: 1em 0;
}

h2 {
  font-family: "font-family: 'Righteous', cursive";
  font-weight: 800;
  margin: 1em 0;
  font-size: 1.2em;
}

div {
  width: 100%;
}

.myBtn {
  box-shadow: 0px 10px 14px -7px #1c8c81;
  background: linear-gradient(to bottom, #1c8c81 5%, #2bd9b9 100%);
  background-color: #2bd9b9;
  border-radius: 4px;
  border: 1px solid #28a9ab;
  display: inline-block;
  cursor: pointer;
  color: #F2F2F2;
  font-family: "font-family: 'Quicksand', sans-serif";
  font-size: 1em;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #269fa3;
  min-width: 150px;
  max-width: 300px;
  margin: 0.3em 0;
}
.myBtn:hover {
  background: linear-gradient(to bottom, #1c8c81 5%, #2bd9b9 100%);
  background-color: #199e83;
}
.myBtn#cancel {
  box-shadow: 0px 10px 14px -7px #d62f48;
  background: linear-gradient(to bottom, #ef3939 5%, #7f1454 100%);
  background-color: #da2736;
  border: 1px solid #c41932;
  text-shadow: 0px 1px 0px #d62f48;
}

.modal {
  display: flex;
  flex-direction: column;
}
.modal h2 {
  width: 100%;
  margin-bottom: 0;
}

.search_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
  gap: 1em;
}
.search_form input {
  width: 100%;
  min-height: 2.2em;
}
.search_form label {
  font-family: "font-family: 'Quicksand', sans-serif";
}

.title {
  color: #0D0D0D;
}

.logo {
  width: 125px;
  margin: 2%;
  display: block;
  padding: 5px;
  box-shadow: 5px 5px 20px #6F6E77;
}

.button {
  background-color: #37a9b4;
  border: 20px;
  color: #F2F2F2;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 30px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.book_list {
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 2rem;*/
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
  margin: 2rem 5vw;
  padding: 1em;
  list-style: none;
  overflow-x: scroll;
  flex-direction: row;
}
.book_list li {
  list-style: none;
  min-width: 130em;
  gap: 1em;
}
.book_list h3.book_title {
  font-family: "font-family: 'Righteous', cursive";
  background-color: #15DEA5;
  min-height: 4em;
  display: flex;
  align-items: center;
  width: 90%;
}
.book_list p.book_id, .book_list p.book_author {
  font-family: "font-family: 'Quicksand', sans-serif";
  background-color: #15DEA5;
}
.book_list button {
  font-size: 1.5em;
}

.card {
  display: flex;
  margin: 1em;
  padding: 0;
  max-width: 20%;
  overflow: hidden;
  text-decoration: none;
  list-style: none;
  background-color: #F2F2F2;
  box-shadow: 0px 10px 14px -7px #3b3b3b;
  transition: width 0.5s ease-in;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
.card .book_details {
  display: flex;
  transition: width 0.5s ease-in;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
.card .book_details > * {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.card .book_details.active, .card .book_details:hover {
  flex: 1.5;
}
.card .book_details.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.4s;
  width: 90%;
}
.card .book_cover {
  width: 100%;
}
.card:hover {
  flex: 5;
}

.overlay {
  opacity: 0;
  background-color: #F2F2F2;
  color: #0D0D0D;
  height: 100%;
  transition: opacity 0.4s ease-in 0.4s;
}
.overlay:hover {
  opacity: 1;
}

.book_header {
  background-color: #15DEA5;
}
.book_header input {
  z-index: 1;
  border: none;
  background-color: transparent;
}
.book_header input:checked, .book_header input:active {
  color: #15DEA5;
}
.book_header i {
  height: 3em;
}

.bookmark {
  color: #F2F2F2;
}

.search_results {
  display: flex;
}/*# sourceMappingURL=style.css.map */