$color_text: #0D0D0D;
$color_Primary: #F2F2F2;
$color_danger: #d62f48;
$fs-xl: 3rem;
$fs-600: 1.5rem;
$fs-500: 1.25rem;
$fs-400: 1rem;
$font-family_text: "font-family: 'Quicksand', sans-serif";
$font-family_title: "font-family: 'Righteous', cursive";
$background-color_highlight: #f1f6f681;
$background-color_blck: #111;
$background-color_primary: #2bd9b9;
$background-color_okey: #199e83;
$background-color_danger: #da2736;
$background-color_secondary: #37a9b4;

@import "https://fonts.googleapis.com/css2?family=Righteous&display=swap";
@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap";
/*# Tablets */
/*# PC */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}


img {
	display: block;
	max-width: 100%;
}
svg {
	display: block;
	max-width: 100%;
}
body {
	font-family: $font-family_text;
	display: flex;
	min-width: 90vw;
	min-height: 90vh;
	padding: 3em;
	color: $color_text;
	background-color: $background-color_highlight;
	height: 100%;
	font-size: $fs-400;
}
#myBooks {
	width: 100%;
}
h1 {
	font-family: $font-family_title;
	font-weight: 800;
	margin: 1em 0;
	font-size: 1.5em;
	margin: 1em 0;
	text-align: center;
	font-size: $fs-600;
}
h2 {
	font-family: $font-family_title;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5em;
	padding-bottom: 15px;
	position: relative;
	font-size: $fs-500;
	&:hover {
		transform: none;
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 5px;
		width: 6em;
		background-color: $background-color_blck;
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 5px;
		width: 6em;
		background-color: $background-color_blck;
	}
}
.myBtn {
	box-shadow: 0px 10px 14px -7px #1c8c81;
	background: linear-gradient(to bottom, #1c8c81 5%, #2bd9b9 100%);
	background-color: $background-color_primary;
	border-radius: 4px;
	border: 1px solid #28a9ab;
	display: inline-block;
	cursor: pointer;
	color:$color_Primary;
	font-family: $font-family_text;
	font-size: $fs-400;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #269fa3;
	min-width: 100px;
	max-width: 200px;
	margin: 0.3em 0;
	transition-property: transform;
	transition-duration: 1000ms;
	transform: scale(1);
	&:hover {
		background: linear-gradient(to bottom, #1c8c81 5%, #2bd9b9 100%);
		background-color: $background-color_okey;
		transform: scale(1.10);
	}
}
.myBtn#cancel {
	box-shadow: 0px 10px 14px -7px #d62f48;
	background: linear-gradient(to bottom, #ef3939 5%, #7f1454 100%);
	background-color: $background-color_danger;
	border: 1px solid #c41932;
	text-shadow: 0px 1px 0px #d62f48;
}
.modal {
	display: flex;
	flex-direction: column;
	h2 {
		width: 100%;
		margin-bottom: 0;
	}
}
.search_form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1em 0;
	gap: 1em;
	input {
		width: 100%;
		min-height: 2.2em;
	}
	label {
		font-family: $font-family_text;
	}
}
.title {
	color:$color_text;
}
.logo {
	width: 125px;
	margin: 0 auto;
	display: block;
	padding: 5px;
	box-shadow: 5px 5px 20px #6F6E77;
}
.button {
	background-color: $background-color_secondary;
	border: 20px;
	color: $color_Primary;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: $fs-400;
	margin: 10px 30px;
	border-radius: 5px;
}
.hidden {
	display: none;
	opacity: 0;
}
.book_list {
	display: block;
	gap: 2rem;
	list-style: none;
}
h3.book_title {
	font-family: $font-family_title;
	font-size: $fs-500;
	font-weight: bold;
}
.book_id {
	font-family: $font-family_text;
	font-size: var(--fs-400);
}
.book_authors {
	font-family: $font-family_text;
	font-size: $fs-400;
}
button {
	font-size:  $fs-400;
}
.book {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 2em;
	text-decoration: none;
	list-style: none;
	background: rgba( 0, 0, 0, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 9px );
	-webkit-backdrop-filter: blur( 9px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	box-shadow: 0px 10px 14px -7px #3b3b3b;
	color:$color_text;
	.book_header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 2em;
		min-height: 6em;
	}
	.book_description {
		margin-bottom: 2em;
		font-size:  $fs-400;
		min-height: 6em;
	}
	img {
		width: 100px;
		transition-property: transform;
		transition-duration: 1000ms;
		transform: scale(1);
		&:hover {
			transform: scale(1.60);
		}
	}
}
.book_cover {
	display: flex;
	justify-content: center;
	align-items: center;
}
i {
	width: 4em;
	padding-left: 3em;
}
.bookmark {
	color: $color_Primary;
	font-size:  $fs-500;
}
.delete {
	color: $color_danger;
	font-size:  $fs-500;
}
.search_results {
	display: flex;
}
.show {
	opacity: 100%;
}
@media screen and (min-width: 820px) {

		$fs-xl: 3.8rem;
		$fs-600: 2rem;
		$fs-500: 1.25rem;
		$fs-400: 1.125rem;

	.book_list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
		gap: 2rem;
		list-style: none;
	}
	.book {
		img {
			width: 150px;
			transition-property: transform;
			transition-duration: 1000ms;
			transform: scale(1);
		}
	}
}
@media screen and (min-width: 1025px) {

		$fs-xl: 5rem;
		$fs-600: 2.5rem;
		$fs-500: 1.4rem;
		$fs-400: 1.2rem;
.book_list{
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
	.book {
		img {
			width: 200px;
			transition-property: transform;
			transition-duration: 1000ms;
			transform: scale(1);
		}
	}
}
