@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');




//reset

* {
	box-sizing: border-box;
	margin: O;
	padding: 0;
	font: inherit;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}
img {
	display: block;
	max-width: 100%;
}

svg {
	display: block;
	max-width: 100%;
}


/***STYLING***/ 
/*** buttons ****/
.myBtn {
	box-shadow: 0px 10px 14px -7px #1c8c81;
	background: $gradient;
	background-color: #2bd9b9;
	border-radius: 4px;
	border: 1px solid #28a9ab;
	display: inline-block;
	cursor: pointer;
	color: $primary;
	font-family: $fontText;
	font-size: 1em;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #269fa3;
  min-width: 150px;
  max-width: 300px;
  margin: .3em 0;
	&:hover {
		background: $gradient;
		background-color: #199e83;
	}
  &#cancel{
    box-shadow: 0px 10px 14px -7px #d62f48;
	background: $gradientRed;
	background-color: #da2736;
	border: 1px solid #c41932;
	text-shadow: 0px 1px 0px #d62f48;
  }
}
/*** variables ****/
$primary:#F2F2F2;
$highlight:#26BFA3;
$mint: #15DEA5;
$lightGrey:#C4C4C4;
$grey:#6F6E77;
$black:#0D0D0D;
$padding:2em;
$gradient:linear-gradient(to bottom, #1c8c81 5%, #2bd9b9 100%);
$gradientRed:linear-gradient(to bottom, #ef3939 5%, #7f1454 100%);
$fontText:"font-family: 'Quicksand', sans-serif";
$fontTitle:"font-family: 'Righteous', cursive";
$surface-color: #fff;


body {
	font-family: $fontText;
	/*display: flex;
	min-width: 90vw;
	min-height: 90vh;
	padding: 3em;*/
	color: $black;
	background-color: $primary;
}
h1 {
	font-family: $fontTitle;
	font-weight: 800;
	margin: 1em 0;
	font-size: 1.5em;
	margin: 1em 0;
}
h2 {
	font-family: $fontTitle;
	font-weight: 800;
	margin: 1em 0;
	font-size: 1.2em;
}
div {
	width: 100%;
}

.modal {
	display: flex;
  flex-direction: column;
  h2{
    width: 100%;
    margin-bottom: 0;
  }
}
.search_form {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
  gap: 1em;
  input{
    width: 100%;
    min-height: 2.2em;
  }
  label {
    font-family: $fontText;
  }
}
.title {
	color: $black;
}
.logo {
	width: 125px;
	margin: 2%;
	display: block;
	padding: 5px;
	box-shadow: 5px 5px 20px $grey;
}
.button {
	background-color: #37a9b4;
	border: 20px;
	color: $primary;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 10px 30px;
	border-radius: 5px;
}
.hidden{
  display: none;
}
.book_list{
	margin: 100px auto 0;
	padding: 20px;
	max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  justify-items: center;
    list-style: none;
	li{
		list-style: none;
		width: 100%;
		display: flex;
		display: flex;
    margin: 1em;
    list-style: none;
    background-color: #F2F2F2;
    box-shadow: 0px 10px 14px -7px #3b3b3b;
    color: #fff;
    flex-direction: column;
	  }
}
  		
  h3.book_title{
	font-family: $fontTitle;
	background-color: #15DEA5;
  }
  p.book_id, p.book_author{
	font-family: $fontText;
	background-color: #15DEA5;
  }
  button{
	font-size: 1.5em;
  }
  
  .card {  display: grid;
	grid-template-columns: 3fr  1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "book_title bookmark"
	  "book_authors book_authors"
	  "book_id book_id"
	  "book_description book_description"
	  "book_cover book_cover";
  }
  
  .book_title { grid-area: book_title; }
  
  .bookmark { grid-area: bookmark; }
  
  .book_authors { grid-area: book_authors; }
  
  .book_id { grid-area: book_id; }
  
  .book_descrpion { grid-area: book_descrpion; }
  
  .book_cover { grid-area: book_cover; }
.book_description{
	background-color: $primary;
	color: #0D0D0D;
}

.book_header{
	background-color: #15DEA5;
	input{
		z-index: 1;
		border: none;
		background-color: transparent;
		&:checked,
		&:active{
				color: #15DEA5;
		}
	}
	i{
		height: 3em;
	}
}
.bookmark{
    color: $primary;
	//opacity: .5;
}

.search_results {
	display: flex;
}
.hidden{
	opacity: 0;
}
.show{
	opacity: 100%;
}