@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');


$primary:#F2F2F2;
$highlight:#26BFA3;
$mint: #15DEA5;
$lightGrey:#C4C4C4;
$grey:#6F6E77;
$black:#0D0D0D;
$padding:2em;
$gradient:linear-gradient(to bottom, #1c8c81 5%, #2bd9b9 100%);
$gradientRed:linear-gradient(to bottom, #ef3939 5%, #7f1454 100%);
$fontText:"font-family: 'Quicksand', sans-serif";
$fontTitle:"font-family: 'Righteous', cursive";
$surface-color: #fff;

@mixin Imgcurve{
	-webkit-border-top-left-radius: 30px;
-webkit-border-bottom-right-radius: 30px;
-moz-border-radius-topleft: 30px;
-moz-border-radius-bottomright: 30px;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: $fontText;
	display: flex;
	min-width: 90vw;
	min-height: 90vh;
	padding: 3em;
	color: $black;
	background-color: $primary;
}
h1 {
	font-family: $fontTitle;
	font-weight: 800;
	margin: 1em 0;
	font-size: 1.5em;
	margin: 1em 0;
}
h2 {
	font-family: $fontTitle;
	font-weight: 800;
	margin: 1em 0;
	font-size: 1.2em;
}
div {
	width: 100%;
}

.myBtn {
	box-shadow: 0px 10px 14px -7px #1c8c81;
	background: $gradient;
	background-color: #2bd9b9;
	border-radius: 4px;
	border: 1px solid #28a9ab;
	display: inline-block;
	cursor: pointer;
	color: $primary;
	font-family: $fontText;
	font-size: 1em;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #269fa3;
  min-width: 150px;
  max-width: 300px;
  margin: .3em 0;
	&:hover {
		background: $gradient;
		background-color: #199e83;
	}
  &#cancel{
    box-shadow: 0px 10px 14px -7px #d62f48;
	background: $gradientRed;
	background-color: #da2736;
	border: 1px solid #c41932;
	text-shadow: 0px 1px 0px #d62f48;
  }
}
.modal {
	display: flex;
  flex-direction: column;
  h2{
    width: 100%;
    margin-bottom: 0;
  }
}
.search_form {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
  gap: 1em;
  input{
    width: 100%;
    min-height: 2.2em;
  }
  label {
    font-family: $fontText;
  }
}
.title {
	color: $black;
}
.logo {
	width: 125px;
	margin: 2%;
	display: block;
	padding: 5px;
	box-shadow: 5px 5px 20px $grey;
}
.button {
	background-color: #37a9b4;
	border: 20px;
	color: $primary;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 10px 30px;
	border-radius: 5px;
}
.hidden{
  display: none;
}
.book_list{
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 2rem;*/
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
  margin: 2rem 5vw;
  padding: 1em;
  list-style: none;
  overflow-x: scroll;
  flex-direction: row;
  		li{
			list-style: none;
    min-width: 130em;
    gap: 1em;

  }
  h3.book_title{
	font-family: $fontTitle;
	background-color: #15DEA5;
	min-height: 4em;
	display: flex;
	align-items: center;
	width: 90%;
  }
  p.book_id, p.book_author{
	font-family: $fontText;
	background-color: #15DEA5;
  }
  button{
	font-size: 1.5em;
  }
  
}
.card {
	display: flex;
  margin: 1em;
  padding: 0;
max-width: 20%;
	overflow: hidden;
	text-decoration: none;
	list-style: none;
	background-color: $primary;
	box-shadow: 0px 10px 14px -7px #3b3b3b;    
    transition: width 0.5s ease-in;
    color:#fff;
    cursor:pointer;
    margin:10px;
	.book_details{
		display: flex;
		    transition: width 0.5s ease-in;
    align-items: flex-start;
    justify-content: stretch;
    flex-direction: column;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:50vh;
	& >*{
		display: flex;
		flex-direction: column;
		padding: 1em
	}
	&.active,
  	&:hover{
	  flex:1.5;
  }

  &.active h3{
	  opacity:1;
	   transition: opacity 0.4s ease-in 0.4s;
	   width: 90%;
	   
  }
	}
	.book_cover{
		width: 100%;
	}
	
		&:hover {
			
 		 flex: 5;
		}
  
  
}
.overlay{
	opacity: 0;
	background-color: $primary;
	color: #0D0D0D;
	height: 100%;
	transition: opacity 0.4s ease-in 0.4s;
			&:hover {
					opacity: 1;
}

}
.book_header{
	background-color: #15DEA5;
	input{
		z-index: 1;
		border: none;
		background-color: transparent;
		&:checked,
		&:active{
				color: #15DEA5;
		}
	}
	i{
		height: 3em;
	}
}
.bookmark{
    color: $primary;
	//opacity: .5;
}

.search_results {
	display: flex;
}
